In [1]:
# project imports
import env
from wayback_search import POLICY_DIR
from build_master_index import MASTER_CSV


# python & package imports
import pandas as pd


# plot things
%matplotlib inline
# autoreload modules
%load_ext autoreload
%autoreload 2

In [2]:
df = pd.read_csv(MASTER_CSV)
df.head()

,company,policy_date,policy_url,policy_path
0,1password,2017-02-02 00:00:00,https://1password.com/legal/privacy/privacy-20...,1password/1password-2017-02-02.txt
1,1password,2017-03-16 00:00:00,https://1password.com/legal/privacy/privacy-20...,1password/1password-2017-03-16.txt
2,1password,2017-08-02 00:00:00,https://1password.com/legal/privacy/privacy-20...,1password/1password-2017-08-02.txt
3,1password,2018-03-15 00:00:00,https://1password.com/legal/privacy/privacy-20...,1password/1password-2018-03-15.txt
4,1password,2018-04-04 00:00:00,https://1password.com/legal/privacy/privacy-20...,1password/1password-2018-04-04.txt

In [3]:
len(df.company.unique())

18

In [4]:
df[df.duplicated('policy_path')]

,company,policy_date,policy_url,policy_path
10,amazon,2005-10-27 00:00:00,http://web.archive.org/web/20061201160523/http...,amazon/amazon-2005-10-27.txt
23,apple,2001-06-04 00:00:00,http://web.archive.org/web/20020802121659/http...,apple/apple-2001-06-04.txt
26,apple,2007-06-29 00:00:00,http://web.archive.org/web/20090830024021/http...,apple/apple-2007-06-29.txt
43,cisco,2005-08-30 00:00:00,http://web.archive.org/web/20070430140952/http...,cisco/cisco-2005-08-30.txt
58,cisco,2016-09-28 00:00:00,http://web.archive.org/web/20170306195934/http...,cisco/cisco-2016-09-28.txt
89,fitbit,2014-12-09 00:00:00,http://web.archive.org/web/20160123082727/http...,fitbit/fitbit-2014-12-09.txt
131,intuit,2011-07-01 00:00:00,http://web.archive.org/web/20120130131756/http...,intuit/intuit-2011-07-01.txt
167,oracle,2016-04-22 00:00:00,http://web.archive.org/web/20160716051328/http...,oracle/oracle-2016-04-22.txt
176,pinterest,2016-11-01 00:00:00,http://web.archive.org/web/20170503233227/http...,pinterest/pinterest-2016-11-01.txt
219,uber,2013-07-13 00:00:00,http://web.archive.org/web/20140820063129/http...,uber/uber-2013-07-13.txt
231,walmart,2010-02-23 00:00:00,http://web.archive.org/web/20101030034352/http...,walmart/walmart-2010-02-23.txt
234,walmart,2012-04-26 00:00:00,http://web.archive.org/web/20120902024234/http...,walmart/walmart-2012-04-26.txt

In [5]:
df[df.policy_path == 'linked_check_date.txt']

,company,policy_date,policy_url,policy_path
161,oracle,NaN,http://www.oracle.com/us/legal/privacy/privacy...,linked_check_date.txt