In [10]:
# project imports
import env
from wayback_search import POLICY_DIR
from build_master_index import MASTER_CSV


# python & package imports
import pandas as pd


# plot things
%matplotlib inline
# autoreload modules
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
df = pd.read_csv(MASTER_CSV)
df.head()

,1password/1password-2017-02-02.txt,2002-06-08 00:00:00,2006-02-16 00:00:00,2007-08-22 00:00:00,2008-04-08 00:00:00,2008-12-29 00:00:00,2009-09-28,2015-08-12 00:00:00,2017-02-02 00:00:00,company,...,intuit,intuit/intuit-2007-08-22.txt,linkedin,linkedin/linkedin-2006-02-16.txt,netflix,netflix/netflix-2002-06-08.txt,policy_date,policy_path,policy_url,smud/smud-2015-08-12.txt
0,1password/1password-2017-03-16.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-03-16 00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1password/1password-2017-08-02.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-08-02 00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1password/1password-2018-03-15.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-15 00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1password/1password-2018-04-04.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-04-04 00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1password/1password-2018-05-11.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-05-11 00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN